.product {
  height: 100%;
  margin: 1rem;

  .title {
    font-family: $font-family-primary;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include respond(tablet) {
    display: block;
    border-radius: $border-radius-base;
    border: $border-base;
    padding: 1.5rem;
  }

  @include respond(fullhd) {
    @include flexbox();
  }
}

.view-demo-button {
  padding: 2rem;
}
