.product {
  height: 100%;
  margin: 1rem;
  padding: .5rem;
  border-radius: $border-radius-base;
  border: $border-base;
  .title {
    font-family: $font-family-primary;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:not(.is-desktop) {
    @include respond(tablet) {
      display: block;
    }

    @include respond(desktop) {
      @include flexbox();
    }
  }
}

.view-demo-button {
  padding: 2rem;
}
