.card {
  cursor: pointer;
  background-color: rgba($info, .8);
  color: $white;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-service;
  margin: 1rem;
  text-align: center;

  &-primary {
    background-color: $warning;
  }
  .main-icon-wrapper {
    padding-top: 2.5rem;

    .main-icon {
      @include square(100px);
    }

    @include respond(tablet) {
      padding-left: 2.5rem;
    }
  }

  .icon-wrapper {
    @include absCenter();

    .icon {
      margin-top: 5rem;
      opacity: .2;
      color: $white;
      font-size: 8rem;
    }
  }

  .title-wrapper {
    color: $gray-light;

    @include respond(tablet) {
      padding: 1rem;
    }

    .title {
      font-family: $font-family-primary;
      display: block;
      padding: .5rem;
      background-image: linear-gradient(
        130deg,
        transparent 95%,
        rgba($warning, .5) 95%
      );

      &-primary {
        color: $gray-dark-1;
        background-image: linear-gradient(
          130deg,
          rgba($white, .7) 95%,
          rgba($info, .5) 95%
        );
      }

      &-main {
        font-size: $font-size-medium-large;
        margin-bottom: .5rem;
        font-weight: $font-weight-heavy;
        text-transform: uppercase;
      }
      &-sub {
        font-family: $font-family-base;
        font-size: $font-size-base;
        font-weight: $font-weight-base;
      }
    }
  }
}
