// ======================================================
// Base :: Variables
// ======================================================

$font-family-base: 'Open Sans', 'Lato', 'Arial', serif;
$font-family-primary: 'Exo', 'Open Sans', 'Arial', sans-serif;
$font-family-logo: 'Bowlby One SC', 'Lato', 'Arial', serif;
// >> Font-size
$font-size-small: .8rem;
$font-size-base: 1rem;
$font-size-medium: 1.2rem;
$font-size-medium-large: 1.5rem;
$font-size-large: 2rem;
$font-size-super-large: 3rem;

// >> Font-weight
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-bold: 500;
$font-weight-heavy: 700;

// Borders
$border-radius-small: 2px;
$border-radius-base: 4px;
$border-radius-medium: 8px;
$border-radius-large: 25px;

$border-base: 1px solid rgba(235, 235, 235, .5);
$border-dark: 1px solid #898989;

// Margins
$margin-bottom-small: 5px;
$margin-bottom-base: 15px;
$margin-bottom-large: 25px;

$margin-top-small: 5px;
$margin-top-base: 15px;
$margin-top-large: 25px;
//Shadows
$box-shadow-base: 0 1px 5px 0 rgba(0, 0, 0, .05);
$box-shadow-cta: 0 5px 5px 0 rgba(0, 0, 0, .2), 0 0 0 1px #05386b;
$text-shadow-base: .5px .5px 1px rgba(62, 65, 68, .4);
