.custom-box {
  box-shadow: none;
  border-radius: $border-radius-base;

  @include respond(tablet) {
    max-width: 80%;
    margin: 0 auto;
    margin-top: -2rem;
  }

  @include respond(desktop) {
    margin-top: -3rem;
  }

  small {
    color: $gray-dark;
    text-transform: uppercase;
    font-family: $font-family-base;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
  }
}

.section-title {
  padding: 3rem 0;
}

.cta {
  margin-top: 1rem;
}

.button-group {
  margin-top: 1rem;

  @include middle-items();

  @include flex-direction(column);

  @include flex-wrap(wrap);

  & > * {
    &:not(:last-child) {
      margin-bottom: 1rem;

      @include respond(tablet) {
        margin-bottom: 0;
        margin-right: 2rem;
      }
    }
  }

  @include respond(tablet) {
    flex-direction: row;
  }
}

.custom-columns {
  margin-top: 2rem;

  @include respond(tablet) {
    padding: 0 4rem;
  }

  @include respond(desktop) {
    padding: 0 10rem;
  }
}

.call-to-action {
  background-color: $primary;
}

.services-background {
  margin-bottom: 8rem;
  border-radius: $border-radius-base;
  background-image: linear-gradient(rgba(0, 0, 0, .63), rgba(0, 0, 0, .795)),
    url('src/images/services-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.sub-title {
  text-transform: initial;
  margin-top: 1rem;
  color: $gray-light;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  display: block;
  font-style: italic;
}

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
}
