.custom-box {
  box-shadow: none;
  border-radius: $border-radius-base;

  @include respond(tablet) {
    max-width: 80%;
    margin: 0 auto;
    margin-top: -5rem;
  }

  @include respond(desktop) {
    margin-top: -10rem;
  }

  small {
    color: $gray-dark;
    text-transform: uppercase;
    font-family: $font-family-base;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
  }
}

.section-title {
  padding: 3rem 0;
}

.cta {
  margin-top: 1rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;

  & > * {
    &:not(:last-child) {
      margin-bottom: 1rem;

      @include respond(tablet) {
        margin-bottom: 0;
        margin-right: 2rem;
      }
    }
  }

  @include respond(tablet) {
    flex-direction: row;
  }
}

.custom-columns {
  padding: 0 2rem;
  margin-top: 2rem;

  @include respond(tablet) {
    padding: 0 4rem;
  }

  @include respond(desktop) {
    padding: 0 10rem;
  }
}

.services-background {
  cursor: pointer;
  margin-bottom: 2rem;
  border-radius: $border-radius-base;
  background-image: linear-gradient(rgba(0, 0, 0, .63), rgba(0, 0, 0, .795)),
    url('src/images/services-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.services-icon-wrapper {
  text-align: center;
}

.services-more-icon {
  font-size: $font-size-super-large;
  color: rgba($white, .6);
}
