.logo-wrapper {
  position: relative;
  z-index: 10;
  margin: 0 auto;
}

.logo-minimal-wrapper {
  display: inline-block;
  padding: 0 .2rem;
}

.logo-text {
  font-size: $font-size-large;
  padding: 0 .5rem;

  @include flexbox();

  @include align-items(center);

  @include position(relative);

  .content {
    font-family: $font-family-logo;
    background-color: $white;
    color: $primary;
    margin: auto 10px;
    padding: 5px 10px;
    border-radius: $border-radius-base;
    transform: skew(-15deg, 0deg);

    &-invert {
      background-color: $primary;
      color: $white;
    }
  }

  .content-minimal {
    font-family: $font-family-primary;
    width: 100%;
    color: rgba($gray-dark-1, .7);
    padding: 0 5px;
    font-size: $font-size-medium;
  }

  .key {
    font-size: $font-size-super-large;
  }

  .name {
    font-size: $font-size-large;
  }

  .extra {
    background-color: $info;
    border-radius: $border-radius-base;
    opacity: .4;
    transform: skew(-15deg, 0deg);
    z-index: -1;

    &-invert {
      background-color: $primary;
    }

    @include size(30px, 25px);

    &-right {
      @include position(absolute, -6px, 2px, null, null);
    }

    &-left {
      @include position(absolute, null, null, -6px, 2px);
    }
  }
}
