/* -- Color Defaults -- */

// Color Elements ( Bulma color overrides )
$primary: #57d18e;
$link: #379683;
$info: #05386b;
$warning: #e8e288;
$danger: #ff8360;
$white: #fff;

$gray-dark: rgba(62, 65, 68, .4);
