/* -- Color Defaults -- */

// Color Elements ( Bulma color overrides )
$primary: #57d18e;
$link: #379683;
$info: #05386b;
$warning: #b8b04a;
$danger: #ff8360;
$white: #fff;
$gray-dark: rgba(62, 65, 68, .4);
$gray-dark-1: rgba(56, 59, 62, .9);

$grey-light: #eee;

$background: #f8f7f7;
