// ======================================================
// Base :: Global like html, body, img, a, ul
// ======================================================

body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  background-color: $background;
  scroll-behavior: smooth;
}

p {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
