.heading-secondary {
  font-family: $font-family-primary;
  font-size: $font-size-large;
  color: $info;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  &--white {
    color: $white;
  }

  &--strong {
    font-weight: $font-weight-heavy;
  }
}

.heading-tertiary {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  color: $gray-dark-1;
  font-weight: $font-weight-bold;
}

.description {
  font-family: $font-family-base;
  font-size: $font-size-small;
  font-weight: $font-weight-base;
  &--white {
    color: $white;
  }
}
