.avatar {
  text-align: center;
}

.avatar-title {
  color: rgba($info, .6);
  margin-top: .5rem;
}

.title {
  color: rgba($white, .9);
  font-family: $font-family-primary;
  font-size: $font-size-large;
  font-weight: $font-weight-heavy;
  text-transform: uppercase;
  text-shadow: $text-shadow-base;
}

.sub-title {
  font-size: $font-size-medium;
  color: rgba($white, .9);
}

.custom-hero {
  background-image: linear-gradient(
    180deg,
    rgba(87, 209, 142, 1) 70%,
    rgb(33, 184, 103) 90%
  );
  color: $white;

  @include position(relative);

  @include respond(desktop) {
    height: 100vh;
  }
}

.custom-container {
  position: static;
}

.middle-content {
  margin: auto;

  @include flexbox();

  @include justify-content(center);

  @include respond(desktop) {
    width: 80%;
  }
}

.custom-column-content {
  margin-top: 1rem;

  @include flexbox();

  @include flex-direction(column);

  @include justify-content(center);

  > * {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.icons {
  @include flexbox();

  .icon {
    font-size: $font-size-medium-large;

    a {
      color: inherit;
      transition: all .2s;

      &:hover {
        color: $info;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.desc {
  font-size: $font-size-base;
  text-shadow: $text-shadow-base;
}

.right-vector {
  display: none;

  @include respond(tablet) {
    display: block;
    height: 40%;
    opacity: .4;

    @include position(absolute, null, 0, 0, null);
  }
}
